@import "tailwindcss";

@theme {
  --font-sans: var(--font-overused), ui-sans-serif, system-ui, sans-serif;
  
  --font-display: var(--font-overused), sans-serif;

  --color-primary: #284B63;
  --color-navy: #474747;
  
  --color-accent: #f0f9ff;
}

@layer base {
  body {
    background-color: white;
    color: #0f172a;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}